---
import BrotherBigImage from "@/components/BrotherBigImage.astro"
import BrotherClips from "@/components/BrotherClips.astro"
import BrotherDetailInfo from "@/components/BrotherDetailInfo.astro"
import BrotherSocialLink from "@/components/BrotherSocialLink.astro"
import Typography from "@/components/Typography.astro"

import Instagram from "@/icons/instagram.astro"
import Tiktok from "@/icons/tiktok.astro"
import Twitch from "@/icons/twitch.astro"
import X from "@/icons/x.astro"
import YouTube from "@/icons/youtube.astro"

import { BROTHERS } from "@/consts/brothers"
import { COUNTRIES } from "@/consts/countries"
import Layout from "@/layouts/Layout.astro"
import type { Preload } from "@/types/Preload"

export function getStaticPaths() {
	return BROTHERS.map(({ id }) => {
		return { params: { id } }
	})
}

const { id } = Astro.params

const [brother] = BROTHERS.filter((brother) => brother.id === id)

const countryName = COUNTRIES[brother.country]

const preloadBrotherImage: Preload[] = [
	{
		as: "image",
		href: `/img/brothers/${id}-big.webp`,
		type: "image/webp",
		rel: "preload",
	},
]

const guardBrother = brother.guard === undefined ? "Desconocida" : brother.guard
const flagAlt = countryName === undefined ? "un país" : countryName.name

export const prerender = true
---

<Layout
	description={`Información del hermano${brother.name}`}
	title={`${brother.name} - Tayta Niño 2024`}
	preload={preloadBrotherImage}
>
	<main>
		<section class="relative flex flex-col items-center justify-center">
			<div class="flex w-full flex-col md:flex-row md:gap-10">
				<div
					class="left-10 order-2 flex w-full flex-col md:absolute md:order-1 md:w-[300px] md:gap-y-20"
				>
					<BrotherClips clips={brother.clips} />
				</div>

				<div class="flex w-full flex-col md:w-1/4 md:gap-y-20"></div>

				<div
					class="relative order-1 -mt-20 flex flex-col items-center justify-center md:order-2 md:w-1/2 lg:mx-4"
				>
					<BrotherBigImage
						id={id}
						name={brother.name}
						country={brother.country}
						countryName={flagAlt}
						loading="eager"
					/>
				</div>

				<div
					class="order-3 mx-auto flex w-full max-w-[450px] flex-col md:w-auto md:max-w-none md:gap-y-20 lg:w-1/4"
				>
					<BrotherDetailInfo title="Edad" value={`${brother.age} años`} id="brother-edad" />
					{
						brother.weight && (
							<BrotherDetailInfo title="Peso" value={`${brother.weight} kg`} id="brother-peso" />
						)
					}
					<BrotherDetailInfo title="Altura" value={`${brother.height} m`} id="brother-altura" />
					<BrotherDetailInfo title="Guardia" value={guardBrother} id="brother-guardia" />

				</div>
			</div>
		</section>
		<section class="mt-20 md:mt-64">
			<Typography as="h3" variant="h3" color="primary400" class:list={"mb-12 text-center"}>
				REDES SOCIALES
			</Typography>
			<div class="mx-auto flex max-w-[600px] flex-wrap justify-center gap-2 lg:max-w-full">
				<BrotherSocialLink href={brother.socials.twitch}>
					<Twitch />
				</BrotherSocialLink>
				<BrotherSocialLink href={brother.socials.instagram}>
					<Instagram />
				</BrotherSocialLink>
				<BrotherSocialLink href={brother.socials.twitter}>
					<X />
				</BrotherSocialLink>
				<BrotherSocialLink href={brother.socials.youtube}>
					<YouTube />
				</BrotherSocialLink>
				<BrotherSocialLink href={brother.socials.tiktok}>
					<Tiktok />
				</BrotherSocialLink>
			</div>
		</section>

	</main>
</Layout>