---
// Supports weights 100-900
import { ViewTransitions } from "astro:transitions"
import SmokeBackground from '@/components/SmokeBackground.astro';
import '@@/fonts/ponsiroundedslab/stylesheet.css'
import '@fontsource-variable/jost';
import type { Preload } from "@/types/Preload"
import Footer from "@/sections/Footer.astro";
import SEO from "@/components/SEO.astro";
import Header from "@/components/Header.astro";

interface Props {
	description: string;
	title: string;
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
		/>
		<ViewTransitions />
		<script is:inline>
			window.getThemePreference = () => {
				const localItem = typeof localStorage !== "undefined" && localStorage.getItem("theme")
				if (localItem) return localItem
				return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
			}

			const isDark = window.getThemePreference() === "dark"
			document.documentElement.classList.toggle("dark", isDark)
		</script>
	</head>
	<body>
		<SmokeBackground />
		<Header />
		<div class="max-w-6xl px-2 lg:px-10 pt-20 mx-auto">
			<slot />
			<!-- <Sponsors /> -->
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #0c0c0c;
		--color-secondary: #dddddd;
		--background-color: var(--color-secondary);
		--background-twitch: var(--color-twitch-ice);
		--color-primary-400: #26dce4;
		--color-twitch: #9146ff;
		--color-twitch-ice: #f0f0ff;
	}
	.dark {
		--color-primary: #dddddd;
		--color-secondary: #0c0c0c;
	}
	html {
		font-family: 'PonsRoundedSlab-Regular', 'Jost Variable', system-ui, sans-serif;
		/* background-color: var(--background-color); */
	}
</style>
